# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
.next
**/.next
out
**/out
build
**/build
coverage
**/coverage

# Yarn
.yarn
**/.yarn
.pnp.*
**/.pnp.*

# PocketBase
pb/pocketbase
pb/pb_data

# Other
.DS_Store
*.log
*.md


